#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ---primary-color: rgb(252, 138, 138);
  ---secondary-color: rgb(255, 181, 181);
}

::selection {
  background-color: var(---primary-color);
}

.container {
  width: 90%;
  height: 100%;
  padding: 1rem;
  margin: auto;
}

.card-container-effect {
  visibility: hidden;
}

.card-container-effect > * {
  visibility: visible;
}

.card-container-effect > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.card-container-effect:hover > * {
  transform: scale(0.9);
  opacity: 0.4;
}

.card-container-effect > *:hover {
  transform: scale(1);
  opacity: 1;
}
